extends layout


block content
    include ../error
    .panel.panel-white
        .panel-heading
            h3.panel-title Все паспорта
            //span.label.label-danger(style="margin-right: 5px;") Допечатник
            //span.label.label-warning(style="margin-right: 5px;") СиТиПи
            //span.label.label-info(style="margin-right: 5px;") Кладовщик
            //span.label.label-default(style="margin-right: 5px;") Производство
            //span.label.label-success(style="margin-right: 5px;") Исполнен
        .panel-body.passports-data
            .row
                .col-md-12
                    table.table.table-hover.table-bordered
                        thead
                            tr
                                th
                                    input.form-control(type="text", id="searchDateCreated", placeholder="Дата создания")
                                th
                                    input.form-control(type="text", id="searchDate", placeholder="Дата выдачи")
                                th
                                    input.form-control(type="text", id="number", placeholder="№  ")
                                th
                                    input.form-control(type="text", id="searchCustomer", placeholder="Заказчик")
                                th
                                    input.form-control(type="text", id="paper", placeholder="Ф\\б")
                                th
                                    input.form-control(type="text", id="circulation", placeholder="Тираж")
                                th
                                    input.form-control(type="text", id="id", placeholder="ИД")
                                th Не исполнен
                                th В работе
                                th Исполнен
                                th Отправлен
                                //th
                        tbody
                            each item in passports
                                tr.status-check(data-status=item.status, data-id=item.passportId)
                                    td.passport-date-created(onclick='window.location.href="/production/'+item._id+'"; return false')=moment(item.createdAt).format("DD.MM.YYYY")
                                    td.passport-date(onclick='window.location.href="/production/'+item._id+'"; return false')=item.passOn
                                    td.passport-number(onclick='window.location.href="/production/'+item._id+'"; return false')=item.inc
                                    td.passport-customer(onclick='window.location.href="/production/'+item._id+'"; return false')=item.customer
                                    td.passport-paper(onclick='window.location.href="/production/'+item._id+'"; return false')
                                        strong Тип:
                                        |   #{item.typePaper}
                                        br
                                        strong Размер:
                                        |   #{item.typePaperSize}
                                        br
                                        strong Граммаж:
                                        |   #{item.typePaperGramm}
                                    td.passport-circulation(onclick='window.location.href="/production/'+item._id+'"; return false')=item.circulationFiled
                                    td.passport-id(onclick='window.location.href="/production/'+item._id+'"; return false')=item.passportId
                                    td
                                        input.form-control.production-status(type="checkbox", value="notready", data-productionStatus=item.productionStatus, data-name="Не готов")
                                    td
                                        input.form-control.production-status(type="checkbox", value="job", data-productionStatus=item.productionStatus, data-name="В работе")
                                    td
                                        input.form-control.production-status(type="checkbox", value="success", data-productionStatus=item.productionStatus, data-name="Исполнен")
                                    td
                                        input.form-control.production-status(type="checkbox", value="sent", data-productionStatus=item.productionStatus, data-name="Отправлен")
                                    //td
                                    //    i.material-icons.remove(id=item._id, data-name='пасспорт от ' + item.date + ', номер паспорта ' + item.passportId + ', Заказчик: ' + item.customer) delete_forever
