extends layout


block content
    include ../error
    .panel.panel-white
        .panel-heading
            h3.panel-title Приход товара
        .panel-body.passports-data
            .row
                .col-md-12
                    table.table.table-bordered
                        thead
                            th Номер
                            th Поставщик
                            th От
                        tbody
                            tr
                                td=capitalization.number
                                td=capitalization.provider
                                td=moment(capitalization.date).format("YYYY-MM-DD HH:mm")

            .row
                .col-md-12
                    h1 Бумага
                    table.table.table-bordered
                        thead
                            th Тип
                            th Граммаж
                            th Формат
                            th Кол-во
                            th Цена за шт.
                            th Цена общая
                        tbody
                            each item in capitalization.papper
                                tr
                                    td=item.typePaper
                                    td=item.grammPaper
                                    td=item.sizePaper
                                    td #{item.count} шт.
                                    td #{item.price} р.
                                    td #{item.priceAll} р.
                        tfoot
                            tr
                                td(colspan=5)
                                    span(style="float:right;") Итого:
                                td #{capitalization.totals} р.
            .row
                .col-md-12
                    button.btn.btn-info-blue.capitalization-redactor(type="button" id=capitalization._id) Дополнить