extends layout


block content
    include ../error
    .panel.panel-white
        .panel-heading
            h3.panel-title Расход товара
        .panel-body.passports-data
            .container-fluid
                .row
                    .col-md-12
                        form
                            .row
                                .col-md-6
                                    .form-group
                                        if number
                                            label.col-md-4.control-label(for="number-consumption") Номер
                                            .col-md-8
                                                input#number-consumption.form-control(type='number' required, value=number.number+1)
                                        else
                                            label.col-md-4.control-label(for="number-consumption") Номер
                                            .col-md-8
                                                input#number-consumption.form-control(type='number' required, value=1)
                                .col-md-6
                                    .form-group
                                        label.col-md-2.control-label(for="date-consumption") От
                                        .col-md-10
                                            input#date-consumption.form-control(type='datetime-local', required, value=moment().format('YYYY-MM-DDTHH:mm'))
                            .row
                                .col-md-12
                                    .form-group
                                        label.col-md-2.control-label(for="comment-consumption") Комментарий
                                        .col-md-10
                                            textarea#comment-consumption.form-control
                            .row
                                .col-md-12
                                    button.btn(type="button", id="consumption-remove")
                                        i.material-icons remove
                                    button.btn(type="button", id="consumption-add")
                                        i.material-icons add
                            .wrap-numencloture
                                .numenclature
                                    .row
                                        .col-md-3
                                            select.form-control.stockTypePaper(required)
                                                option(disabled, selected, value="") Тип бумаги
                                                each item in type
                                                    option(value=item._id)=item.name
                                        .col-md-3
                                            select.form-control.stockGrammPaper(required)
                                                option(disabled, selected, value="") Граммаж бумаги
                                                each item in gramm
                                                    option(value=item._id)=item.name
                                        .col-md-3
                                            select.form-control.stockSizePaper(required)
                                                option(disabled, selected, value="") Формат бумаги
                                                each item in size
                                                    option(value=item._id)=item.name
                                        .pricer
                                            .col-md-3
                                                input.form-control.stockPaperCountCon(required, type="number", placeholder="Кол-во", min="0")
                            .row
                                .col-md-6
                                    button.btn.btn-danger-red.saveConsumption(type="button") Списать со склада