extends layout


block content
    include ../error
    .panel.panel-white
        .panel-heading
            h3.panel-title Все паспорта
        .panel-body.passports-data
            table.table.table-hover.table-bordered.table-striped.table-condensed
                thead
                    tr
                        th
                            .form-group
                                label.col-md-12.control-label(for="searchDate") Дата
                                .col-md-12
                                    input.form-control(type="text", id="searchDate", placeholder="Поиск...")
                        th
                            .form-group
                                label.col-md-12.control-label(for="number") №
                                .col-md-12
                                    input.form-control(type="text", id="number", placeholder="Поиск...")
                        th
                            .form-group
                                label.col-md-12.control-label(for="searchCustomer") Заказчик
                                .col-md-12
                                    input.form-control(type="text", id="searchCustomer", placeholder="Поиск...")
                        th
                            .form-group
                                label.col-md-12.control-label(for="paper") Ф\б
                                .col-md-12
                                    input.form-control(type="text", id="paper", placeholder="Поиск...")
                        th
                            .form-group
                                label.col-md-12.control-label(for="circulation") Тираж
                                .col-md-12
                                    input.form-control(type="text", id="circulation", placeholder="Поиск...")
                        th
                            .form-group
                                label.col-md-12.control-label(for="id") ИД
                                .col-md-12
                                    input.form-control(type="text", id="id", placeholder="Поиск...")
                        th Самовывоз
                        th В офис
                        th Отправка
                tbody
                    each item in passports
                        tr.status-check.hider(data-status=item.status, data-id=item.passportId)
                            td.passport-date(onclick='window.location.href="/storekeeper/'+item._id+'"; return false')=moment(item.passOn, "YYYY.MM.DD.").format("DD.MM")
                            td.passport-number(onclick='window.location.href="/storekeeper/'+item._id+'"; return false')=item.inc
                            td.passport-customer(onclick='window.location.href="/storekeeper/'+item._id+'"; return false')=item.customer
                            td.passport-paper(onclick='window.location.href="/storekeeper/'+item._id+'"; return false')
                                strong Тип:
                                |   #{item.typePaper}
                                br
                                strong Размер:
                                |   #{item.typePaperSize}
                                br
                                strong Граммаж:
                                |   #{item.typePaperGramm}
                            td.passport-circulation(onclick='window.location.href="/storekeeper/'+item._id+'"; return false')=item.circulationFiled
                            td.passport-id(onclick='window.location.href="/storekeeper/'+item._id+'"; return false')=item.passportId
                            td
                                input.form-control.production-podstatus(type="checkbox", value="pickup", data-status=item.podstatus, data-name="Самовывоз")
                            td
                                input.form-control.production-podstatus(type="checkbox", value="office", data-status=item.podstatus, data-name="В офис")
                            td
                                input.form-control.production-podstatus(type="checkbox", value="sending", data-status=item.podstatus, data-name="Отправка")