extends layout


block content
    include ../error
    .panel.panel-white
        .panel-heading
            h3.panel-title Склад бумаги
        .panel-body
            .row
                .col-md-12
                    .row
                        .col-md-2
                            select.form-control.stockTypePaper(required)
                                option(disabled, selected, value="") Тип бумаги
                                each item in type
                                    option(value=item._id)=item.name
                        .col-md-2
                            select.form-control.stockGrammPaper(required)
                                option(disabled, selected, value="") Граммаж бумаги
                                each item in gramm
                                    option(value=item._id)=item.name
                        .col-md-2
                            select.form-control.stockSizePaper(required)
                                option(disabled, selected, value="") Формат бумаги
                                each item in size
                                    option(value=item._id)=item.name
                        .col-md-2
                            input.form-control.stockPaperCount(required, type="number", placeholder="Кол-во", min="0")
                        button.btn.btn-info-blue.addPapers(type="button") Добавить на склад
                        button.btn.btn-danger-red.removePapers(type="button") Списать со склада
            .row(style="margin-top:50px;")
                .col-md-6
                    table.table.table-bordered
                        thead
                            th Тип бумаги
                            th Граммаж бумаги
                            th Формат бумаги
                            th Кол-во
                        tbody.papers-stock
                            each item in papers
                                tr
                                    td=item.typePaper
                                    td=item.grammPaper
                                    td=item.sizePaper
                                    td=item.count
                .col-md-6
                    table.table.table-bordered
                        thead
                            th Дата
                            th Заявка
                            th Менеджер
                        tbody
                            each item in order
                                tr
                                    td=moment(item.date).format('YYYY.MM.DD')
                                    td
                                        each order in item.order
                                            table.table.table-bordered.table-condensed.table-striped
                                                thead
                                                    th Тип
                                                    th Граммаж
                                                    th Формат
                                                    th Кол-во
                                                tbody
                                                    tr
                                                        td=order.typePaper
                                                        td=order.grammPaper
                                                        td=order.sizePaper
                                                        td=order.count
                                    td=item.person
